<div class="employee-navbar">
  <div class="profile">
    <div class="profile-image">
      <% if(avatar==null){ %>
      <span id="initials"></span>
      <% }else{ %>
      <!-- Initials will be displayed here -->
      <img class="profile-image" src="<%= avatar %>" />
      <% } %>
    </div>
    <div class="profile-info">
      <h2><%= name %></h2>
      <!-- Other user information can be placed here -->
    </div>
  </div>
  <ul class="nav">
    <li class="nav-items">
      <a href="/employee/dashboard">
        <img src="/assets/images/icons/dashboard.png" alt="" class="nav-icon" />
        Dashboard
      </a>
    </li>
    <li class="nav-items">
      <a href="/employee/students-page">
        <img src="/assets/images/icons/graduates.png" alt="" class="nav-icon" />
        Students
      </a>
    </li>
    <li class="nav-items">
      <a href="/employee/companies-page">
        <img src="/assets/images/icons/buildings.png" alt="" class="nav-icon" />

        Companies
      </a>
    </li>
    <li class="nav-items">
      <a href="/employee/interviews-page">
        <img src="/assets/images/icons/cogwheel.png" alt="" class="nav-icon" />

        Interview
      </a>
    </li>
    <li class="nav-items">
      <a href="/employee/interviews-page">
        <img src="/assets/images/icons/cogwheel.png" alt="" class="nav-icon" />

        Recently Placed
      </a>
    </li>
    <li class="nav-items">
      <a href="/download-students-csv">
        <!-- <img src="/assets/images/icons/mail.png" alt="" class="nav-icon"> -->
        <i class="bi bi-filetype-csv nav-icon"></i>

        Download Data
      </a>
    </li>
    <li class="nav-items">
      <a href="/employee/mail">
        <img src="/assets/images/icons/mail.png" alt="" class="nav-icon" />

        Messages
      </a>
    </li>
    <li class="nav-items">
      <a href="/employee/settings">
        <img src="/assets/images/icons/cogwheel.png" alt="" class="nav-icon" />

        Settings
      </a>
    </li>
  </ul>

  <a href="/employee/sign-out" class="log-out">
    <img src="/assets/images/icons/logout.png" alt="" class="log-out-icon" />
    Log out
  </a>
</div>
